/* between 480 and 768 - mobile */ 
@media screen and (max-width: 760px) {
    img {
        display: none;
    }
    .img_center {
        display: none;
    }
    .spacer {
        height: 0.5em;
    }
    body {
        margin-left: auto;
        margin-right: auto;
    }
    .column {
        max-width: 480px;
/*        how else would I do this??? */
    }
}

/* between 768 and 1200 - tablet */ 
@media screen and (min-width: 760px) and (max-width: 1201px) { 
    img {
        max-height: 450px;
        max-width: 800px;
    }
    .spacer {
        height: 1em;    
    }
    body {
        margin-right: auto;
        margin-left: auto;
    }
    #container {
        float: none;
        width: 100%;
    }
    
}
/* if greater than 1200 - desktop */ 
@media screen and (min-width: 1200px) {
    img {
        max-height: 500px;
        max-width: 1000px;
    }
    .spacer {
        height: 1.5em;
    }

}
