html, body {
    border: 0;
    font: inherit;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background-color: #ffffff;
    font-family: 'Monserrat', sans-serif;
    font-size: 100%;
}

p {
    font-family: 'Cardo', serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

a {
    display: inline;
    padding: 8px;
}

/*Classes*/

.img_center {
    display: block;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.caption {
    font-style: italic;
    text-align: center;
}

.column {
    width: 90%;
    margin: auto;
}

.spacer {
    height: 50px;
    width: 100%;
}

/*Id's*/
#banner {
    background-color: #1c9099;
    color: #ffffff;
    max-height: 200px;
    position: relative;
}

#banner > h1 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}